/.vscode
node_modules
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/exam
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/change name to .git to activate
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate"
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .gitignore to activate
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/
1. Escuela Desarrollo Web/24-curso-closures-and-scopes/exam___
1. Escuela Desarrollo Web/26-curso-POO-javascript-basic/class-assets____/
1. Escuela Desarrollo Web/27-curso-POO-javascript-intermediate/exam____/