/.vscode
node_modules
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/exam
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/change name to .git to activate
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate"
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/COMMIT_EDITMSG
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/config
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/description
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/FETCH_HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/gitk.cache
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/index
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/ORIG_HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/packed-refs
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/applypatch-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/commit-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/fsmonitor-watchman.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/post-update.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-applypatch.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-commit.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-merge-commit.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-push.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-rebase.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/pre-receive.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/prepare-commit-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/push-to-checkout.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/hooks/update.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/info/exclude
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/heads/cabecera
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/heads/footer
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/heads/header
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/heads/main
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/remotes/origin/cabecera
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/remotes/origin/footer
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/remotes/origin/header
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/remotes/origin/main
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/logs/refs/remotes/origin/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/01/dae5617b5612ff7d6dca3a44acd01dcee1dc0d
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/02/c84eab3df8a446c7879d9b2a909f238a311dbe
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/04/d7de40d817859e308cf1864d98afa44ece3d29
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/0a/74cc77b52edafdf9cbbd19108f442c37477419
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/0a/828fc895cbd010a577afbd9728f5a5bc5859c6
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/0e/fa8cdfee8d31aa02c7c578c0c34116709b4915
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/0f/f2b4cd3de8999c475a4cf19a75912d1346cce0
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/13/3466b8adbbc7dbdfd130f87d50dda352c2880e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/14/1cd5e8c140652047b2146316f37e64863bd6a3
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/19/5f00b7357e36a19636d8a172fc2956a7012df4
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/1b/cdb4b8bc0aad171f4189ab5d9d90ccfb9ee211
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/1f/88ac70aaff8beb90deb389803bb9777f00a506
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/20/135dc6fa3ab953c6efffee7465c6335c9198c3
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/24/d43b6d84ec9887aa7ca4a8d555c90e51e22b14
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/27/3feb9b67d0beb45f6a758d8720d0138979a04f
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/28/eed3b3297a9ab4ad1770b262e285899609cf8d
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/2a/c7eca2497f96706c81185b002f7aa3099bd191
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/2d/c5d502af3367d4bec7e91568fb9d19655a4876
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/32/097e6e7d828a403d8b579be1a1e82c39b57b85
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/36/a0874e52754a56b1d1fcb6ef05f1ca80bc6a54
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/39/e208683bcbc4ec3513520f9676287982da864f
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/3a/45f281b0d3d614a5e338bacd81cd03bc3aba46
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/3f/4b14f2e062f79e3c4057a5d0b83503e600e041
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/42/8fa4f9fb3e9a4a1beaf7c8b044a1f71749723d
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/45/0f7ff5facfaa84349ae578f2b3b3cd547eb9f4
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/49/ee3f3ed2fedd4a65b790b892c05e5e4a18b2d8
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/4a/54f585ce3e4a8cffac7ef8d3678baac363ae7b
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/4d/f436462f5b27331495fb143e46dba5ca43d35a
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/57/9365245cb73ae26eeac278b19219a31c73a2f0
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/59/b2343199291e45d34858e82bb7d92245516fa3
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/60/657a986f63dd6301af7c1a1028e9dc152112cc
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/63/a614bf2c1649f9c6e98b2758d1b640e1bbfa6f
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/6e/7fc1848f7495504feeb28bc76a96683ef77dda
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/6e/f4b4cef8d0af56cdd7ca38a41398d0be28f910
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/70/6f4e51b4d1c56d4bfcff7f295f960a3c71e869
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/71/bdf76bae7b1fd6233133ed772dd2d1fb605835
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/72/f28b3760635a67d2f9e1f1eff075e320a8d41e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/73/a33a42a879fcb520561e0437f7cb0e5c6cdafe
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/78/16c07c713a48cbc194f0bd989e50bfa7037f46
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/81/638e78b8769a37eaa7bb47958cd9b67e7511b4
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/82/4b375c37ed652ed29b3bb04a63104668340493
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/83/c1173ab3edaf16c23a48c13f0d42d2cb9aca75
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/85/a77cb59bf119124c946ec6a58bd223eb672702
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/8f/5c1b5865b44028662d16c434c8797aa006a5be
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/90/c6bd9d582230e0090114d12ec4392b46944118
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/91/3915583a88d8848c57dc3a86864c5f12a5acfd
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/98/feae335a47354bccea0db3d7ac34ae6749f8bb
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/99/3100c0c2cca21a0e6f8748b668306fae8a9193
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/9c/e08c54a629d0edb1f31046a4ebf48d69b694c6
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/a5/8f9ed85a955f04c39a4d19d6f9990042cd2cb2
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/a5/8764b7a04314ed0d46fe92f8198703ce223c91
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/b2/09ced7a576a539fc733cba5923761e378d615b
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/b7/44c15645fc6c200657a83a1bebed522aa1aaec
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/b7/08157f9c196655bcefdd3347b0fc1c09b853a7
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/bc/558164af0ec9639e4584ebb6b334db9a69cf0a
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/c5/e4c0cf787a0f93ea18182e3d118ebc47eb28c4
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/c9/90f41886a62d1b2d050dcd0398f9ca246a4079
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/d7/bde9e9578137ab049e734e98bbd4bd61f217ad
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/d9/5a2df1f908ec48751f81a56498cf01f1df4cc2
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/db/4c9e8cf858f7eabeaedffea97648efe0b728d9
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/dc/bfa0fa5451db851359b95e36ce12d40fee89f4
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/dd/470151f03f1481f634aabbc82cf260cd1edf9e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/e3/ebad408bfaca2c780c30b467abb2d7031f823c
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/ea/1d96bb1847b6923e2ff3c5ac5e63bf6e2ab11e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/ea/9b41e9bb58bbe9119f551abe84bead97d6bb44
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/eb/082719f56168d50613af9f5f976c100e1bda5d
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/f5/ea3cee5bc3becfaaad167004bce9b5104e1430
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/fb/07ead798953f3c44dc9f133a6d1e6ee6cf567e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/objects/fb/f24f4cc4efba4bdac7199853a5af2d6ddc3e1b
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/heads/cabecera
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/heads/footer
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/heads/header
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/heads/main
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/remotes/origin/cabecera
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/remotes/origin/footer
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/remotes/origin/header
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/remotes/origin/main
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/remotes/origin/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/7. Crear un repo/change name to .git to activate/refs/tags/v0.5
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/COMMIT_EDITMSG
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/config
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/description
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/FETCH_HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/index
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/ORIG_HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/packed-refs
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/applypatch-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/commit-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/fsmonitor-watchman.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/post-update.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-applypatch.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-commit.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-merge-commit.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-push.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-rebase.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/pre-receive.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/prepare-commit-msg.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/push-to-checkout.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/hooks/update.sample
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/info/exclude
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/logs/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/logs/refs/heads/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/logs/refs/remotes/origin/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/logs/refs/remotes/origin/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/objects/3c/b840d08ae889220ca15807ed36f82648c6f89e
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/objects/6c/b4c76e811a5281699bf24eef8a4d5d56fb8769
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/objects/d8/a740ec711f096e2f5dd8a32345465c40921deb
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/objects/pack/pack-622db4056d7186127b5f97aae2086e5397cadb4a.idx
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/objects/pack/pack-622db4056d7186127b5f97aae2086e5397cadb4a.pack
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/refs/heads/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/refs/remotes/origin/HEAD
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .git to activate/refs/remotes/origin/master
1. Escuela Desarrollo Web/7. Curso Profesional de Git y GitHub/8. Fork+PullRequest/hyperblogPlatzi/change name to .gitignore to activate
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/analytics.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/api.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/autotrack.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/badge-practico-html-css-1-106665ee-bf4f-4301-8991-1fab9e54a73e.webp
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/cast_framework.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/cast_sender.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/cast_sender.js(1).download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/common.a373a5b9f874db9ced1d.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/dll.41724430e7b973942ca3.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/dlls.44b523bdd15a0daffcff.css
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/exam-summary.44b523bdd15a0daffcff.css
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/exam-summary.44b523bdd15a0daffcff.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/fbevents.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/gtm.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/insight.min.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/isotipoPlatzi093f27a2fb00922bb105.webp
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/js
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/lazysizes.min.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/logotipo-platzie69328f33899695e31fa.webp
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/monokai.min.css
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/pixel.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/styles.css
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/surialpha_982f57b8-7c7b-47dd-8d96-15b5265724d9.jpg
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/uwt.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/vendor.88ebdb3dff70a2329924.js.download
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com_files/vendors.44b523bdd15a0daffcff.css
1. Escuela Desarrollo Web/12_curso-practico-html-css/class________________exam/platzi.com.html
