/*  --------------------------------------------------
                MUCHISX'S CSS RESET
--------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    background: var(--shade-1);
    color: var(--shade-5);
    font-family: "Inter";
}

/*  --------------------------------------------------
                MAIN CSS BELOW
--------------------------------------------------- */

/*=============================================
-->                  ROOT                  <--
=============================================*/


:root {

    /* Color Palette */
    --shade-1: #ECECE2;
    --shade-2: #DADEDF;
    --shade-3: #556672;
    --shade-4: #756C63;
    --shade-5: #423930;

}

/*=============================================
-->                  MAIN                  <--
=============================================*/

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    padding: 40px;
}

    
    .cat-card__landing-title {

        margin-bottom: 120px;
                    
        font-family: "Tiro Gurmukhi";
        font-size: clamp(24rem, 4vw, 60rem);
        font-style: italic;
        

        text-align: center;
        pointer-events: none;
    }


    /*
    -->               QUOTE CARDS             <--
    =============================================
    */

    .cats-cards-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: 200px;
        min-height: 160px;
        padding: 8px 0;
        gap: 40%;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        overflow-x: scroll;
        max-width: 80%;
        margin-bottom: 120px;

        background-color: var(--shade-2);
        border-radius: 20px;
        box-shadow: 2px 2px 0px 1px var(--shade-5);
    }

        .cat-card-container:first-child {
            margin-left: 40%;
        }

        .cat-card-container:last-child {
            margin-right: 40%;
        }

        .cat-card-container {
            display: flex;
            max-width: 80vw;
            scroll-snap-align: center;
        }

            .cat-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

            }

            .cat-card__image {
                height: clamp(200px, 50vw, 640px);
                border-radius: 20px;
            }

            .cat-card__favorite-button {
                all: unset;

                position: absolute;
                top: 80%;

                font-size: 24rem;

                cursor: pointer;

            }



    .cat-card__randomize-button,
    .cat-card__favorites-button {
        all: unset;
        
        width: max-content;
        padding: 8px 12px;
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 18rem;
        color: var(--shade-1);

        background-color: var(--shade-4);
        border-radius: 8px;

        box-shadow: 2px 2px 0px 1px var(--shade-5);

        cursor: pointer;

        transition: background-color 0.25s ease;
    }

    .cat-card__favorites-button {
        margin-bottom: 44px;
        font-size: 12rem;
    }

    .cat-card__randomize-button:hover,
    .cat-card__favorites-button:hover {
        background-color: var(--shade-3);
    }

    .crafted-by {
        opacity: 0.6;
        width: max-content;

        cursor: default;
        font-size: 12rem;
        color: var(--shade-4);

        transition: opacity 200ms ease;
    }

        .muchisx {
            position: relative;
            text-decoration: none;
            font-weight: 400;

            /* Gradient Effect */
            background: linear-gradient(135deg, var(--shade-3) 30%, var(--shade-5) 80%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-image: linear-gradient(135deg, var(--shade-3) 30%, var(--shade-5) 80%) 1;
        }


    .crafted-by:hover {
        opacity: 1;
    }



/*=============================================
-->          Utility OverWritte            <--
=============================================*/

.display-none {
    display: none;
}